@page "/ingredientType/Create"
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>IngredientTypeCreate</h3>
<EditForm Model="@type" OnValidSubmit="CreateType">

    <InputText @bind-value="type.Name" class="form-control" />
    <button type="submit">submit</button>
</EditForm>
@code {
    private IngredientType type = new IngredientType();
    public async void CreateType()
    {
        using (var context = ContextFactory.CreateDbContext())
        {

            context.Add(type);
            await context.SaveChangesAsync();

        }
        navigationManager.NavigateTo("/ingredient/index");
    }
}
