@page "/Recipe/Create"
@using MasterMealBlazor.Data
@using MasterMealBlazor.Models
@using MasterMealBlazor.Components.QIngredientComponents
@*@using MasterMealBlazor.Components.SupplyComponents*@
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
<h3>RecipeCreate</h3>
<EditForm Model="@recipe">
    <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Name:</label>
                <InputText @bind-Value="recipeName" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Description:</label>
                <InputTextArea @bind-Value="recipeDescription" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Cooking Time:</label>
                <InputNumber @bind-Value="cookingTime" TValue="int" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Cooking Time:</label>
                <InputNumber @bind-Value="recipe.Servings" TValue="int" />

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Recipe Type</label>
                @if (Types == null)
                {
                    <p>loading...</p>}
                else
                {
                    <InputSelect @bind-Value="TypeId" TValue="int">
                        @foreach (RecipeType type in Types)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </InputSelect>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Ingredients</label>
                <ol>
                    @foreach(var ingredient in ingredients)
                    {
                        <li>

                            <QIngredientCreate qIngredient="@ingredient"/>
                            <button class="btn btn-danger" @onclick="(()=>RemoveIngredient(ingredient))">Remove</button>
                        </li>
                    }
                </ol>

                <button @onclick="AddIngredient" class="btn btn-success">Add Ingredient</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Supplies</label>
                <ol>
                    @foreach (var supply in supplies)
                    {
                        <li>

                            @*<SupplyPicker />*@
                        </li>
                    }
                </ol>
                <button @onclick="AddSupply" class="btn btn-success">Add Supply</button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Steps</label>
                <ol>
                    @foreach (var step in steps)
                    {
                    <li>
                        <InputTextArea @bind-Value="step.Text"></InputTextArea>
                        @*<StepInput />*@
                        <button class="btn btn-danger" @onclick="(()=>steps.Remove(step))">Remove</button>
                    </li>
                    }
                </ol>

                <button @onclick="AddStep" class="btn btn-success">Add Step</button>
            </div>
        </div>
    </div>

    <button @onclick="SaveRecipe" class="btn btn-success">Save</button>
</EditForm>


