@using MasterMealBlazor.Enums
<h3>MeasurementInput</h3>

@code { 
    [Parameter]
    public MeasurementType? measurementType { get; set; }
    [Parameter]
    public EventCallback<Type> OnTypeChange { get; set; }
    public void RefreshMe()
    {
        StateHasChanged();
    }
}
