<div class="top-row pl-4 navbar">
    <a class="navbar-brand" href="">MasterMealBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons">
                    kitchen
                </span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Recipe/index">
                <span class="material-icons">
                    restaurant
                </span> Recipes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Ingredient/index">
                <span class="material-icons">
                    lunch_dining
                </span>Ingredients
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="supplies/index">
                <span class="material-icons">
                    restaurant_menu
                </span> Supplies
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
