<div class="top-row pl-4 navbar">
    <a class="navbar-brand" href="">MasterMealBlazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div @onclick="ToggleNavMenu">
    <nav class="app-nav">

        <ul class="app-menu list-unstyled">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="nav-icon fas fa-home"></i> <span class="nav-link-text">Home</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Recipe/index">
                    <i class="nav-icon fas fa-utensils"></i> <span class="nav-link-text">Recipes</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Ingredient/index">
                    <i class="nav-icon far fa-lemon"></i><span class="nav-link-text">Ingredients</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="supplies/index">
                    <i class="nav-icon fas fa-shopping-cart"></i> <span class="nav-link-text">Supplies</span>
                </NavLink>
            </li>
        </ul>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
