<div class="row">
    <div class="col">
        <div class="form-group">
            <label>Step text:</label>
            <InputTextArea @bind-Value="stepText" />

        </div>
    </div>
</div>

@code {
    public string stepText { get; set; }
}
